* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.top-container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-button {
  margin-left: 40px;
}

.mid-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-container {
  
}

.bot-container {
  height: 80px;
}